
.nav{
    background-color: red;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;

    /* additional */

    position: sticky;
    top: 0;
    
    
}

.ca1{
    color: rgb(57, 57, 212);
    font-size: 30px;
}
.ca2{
    color: green;
}


.ul{
    list-style-type: none;
    display: flex;
    gap: 100px;
}
.ul li{
    font-size: 20px;
    
}

.last{
    display: flex;
    gap: 20px;
}

.last>button:nth-child(1){
    background-color: rgb(34, 234, 34);
    border-radius: 20px;
    padding: 10px;
}

li>button:nth-child(1){
    background-color: rgb(34, 234, 34);
    border-radius: 20px;
    padding: 10px;
}

.li>button:nth-child(1){
    background-color:rgb(242, 45, 45);
    border-radius: 20px;
    padding: 10px;
}


.last>button:nth-child(2){
    background-color:rgb(242, 45, 45);
    border-radius: 20px;
    padding: 10px;
}
.last1{
    display: none;
}

.nl{
    /* text-decoration: none; */
color: rgb(76, 76, 241);
}

.nl1{
color:black;
text-decoration: none;
}
@media (max-width:1023px){
    .last{
        display: none;
    }
    
    .last1{
        display: block;
    }


    .ul{
       display: none;

    }
    .ll1{
        display: block;

    }
}




@media (min-width:1023px){
    .ll1{
        display:none ;
    }
}

.ll1{
    width: 100%;
    text-align: center;
    background-color: red;
    transform: translateY(-500px);
    /* opacity: 0; */
    transition: ease-in-out 1s;
    max-height: 0px;
    
/* additional */

position: sticky;   /* if you dont apply this navbar would suddenly disappear when you click the button agian if you are not on the top  */   
    top: 10.5%;
   
}


.ref{
    /* opacity: 1; */
    transform: translateY(0px);
    max-height: 1000px;          /* we could use simple height:auto; but transition will not work with height :auto;  */  
    transition: ease-in-out 1s;
    position: sticky;
    top: 10.5%;

}


.ll1>li{
    list-style-type: none;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    display: block;
    font-size: 30px;
}

.pol{
    display: block;
}
